.app {

  margin: 25px;
  background: white;
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /*box-sizing: border-box;*/
}

.menu {

  display: flex;
  justify-content: center;
  align-content: center;
  height: 125px;
  box-sizing: border-box;
  width: 75%;
  background: black;
}

.menu-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
}

.menu-items li {
  padding: 25px;
}


.logo {
  box-sizing: border-box;
  width: 25%;
  background: gray;
  height: 100px;
}

.gradient-wrap {
  /*position: relative;*/
  background-attachment: fixed;
  /*max-width: 1600px;*/
  /*height: 100vh;*/
  background: rgba(22,0,69,1);
  background: -moz-linear-gradient(-45deg, rgba(22,0,69,1) 0%, rgba(50,38,138,1) 31%, rgba(51,184,131,1) 90%, rgba(51,184,131,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(22,0,69,1)), color-stop(31%, rgba(50,38,138,1)), color-stop(90%, rgba(51,184,131,1)), color-stop(100%, rgba(51,184,131,1)));
  background: -webkit-linear-gradient(-45deg, rgba(22,0,69,1) 0%, rgba(50,38,138,1) 31%, rgba(51,184,131,1) 90%, rgba(51,184,131,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(22,0,69,1) 0%, rgba(50,38,138,1) 31%, rgba(51,184,131,1) 90%, rgba(51,184,131,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(22,0,69,1) 0%, rgba(50,38,138,1) 31%, rgba(51,184,131,1) 90%, rgba(51,184,131,1) 100%);
  background: linear-gradient(135deg, rgba(22,0,69,1) 0%, rgba(50,38,138,1) 31%, rgba(51,184,131,1) 90%, rgba(51,184,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160045', endColorstr='#33b883', GradientType=1 );
}

