body {
  display: flex;
  font-family: "Karla", sans-serif;
}

.app {
  max-width: 980px;
  margin: 25px auto;
  background: #d7d8d8;
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.svg-div {
  width: 35%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.svg {
  width: 100%;
  height: 100%;
  fill: #32268a;
}

.gallery-name {
  font-family: 'Tulpen One', sans-serif;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: -118px;
  margin-left: 180px;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 95px;
  box-sizing: border-box;
  width: 65%;
  background: black;
}

.menu-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
}

.menu-items li {
  padding: 25px;
}

.menu-items li a:hover {
  color: rgba(51,184,131,1);
}

.menu-items li a {
  color: white;
  text-decoration: none;
}


main, footer {
  padding: 15px;
}

.gradient-wrap {
  position: relative;
  width: 100%;
  background: rgba(0,36,97,1);
  background: -moz-linear-gradient(45deg, rgba(0,36,97,1) 0%, rgba(48,23,130,1) 33%, rgba(12,138,107,1) 90%, rgba(12,138,107,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,36,97,1)), color-stop(33%, rgba(48,23,130,1)), color-stop(90%, rgba(12,138,107,1)), color-stop(100%, rgba(12,138,107,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,36,97,1) 0%, rgba(48,23,130,1) 33%, rgba(12,138,107,1) 90%, rgba(12,138,107,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,36,97,1) 0%, rgba(48,23,130,1) 33%, rgba(12,138,107,1) 90%, rgba(12,138,107,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,36,97,1) 0%, rgba(48,23,130,1) 33%, rgba(12,138,107,1) 90%, rgba(12,138,107,1) 100%);
  background: linear-gradient(45deg, rgba(0,36,97,1) 0%, rgba(48,23,130,1) 33%, rgba(12,138,107,1) 90%, rgba(12,138,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002461', endColorstr='#0c8a6b', GradientType=1 );
}

.section-name {
  padding-left: 150px;
  font-size: 55px;
  font-weight: 400;
}

.gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery li {
  list-style: none;
}

.gallery li {
  padding-bottom: 25px;
}

.gallery-img-div {
  padding-left: 15px;
  height: 350px;
}

.gallery li:nth-child(3n+1) > div {
  background: #3e94ae;
}

.gallery li:nth-child(3n+2) > div {
  background: #51b096;
}

.gallery li:nth-child(3n+3) > div {
  background: #32558a;
}

.gallery-img-div div {
  width: 350px;
  height: 275px;
  position: relative;
  top: -10px;
  left: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  mix-blend-mode: multiply;
}

footer {
  background: #e1e3e5;
}